POSTGRES_DB=smp_platform
POSTGRES_USER=smp
POSTGRES_PASSWORD=smp_local_password
MINIO_ROOT_USER=smpminio
MINIO_ROOT_PASSWORD=smpminio_local_password
MYSQL_DATABASE=smp_source_mes
MYSQL_USER=smp_source
MYSQL_PASSWORD=smp_source_password
MYSQL_ROOT_PASSWORD=smp_root_password
RABBITMQ_DEFAULT_USER=smp
RABBITMQ_DEFAULT_PASS=smp_rabbit_password
INFLUXDB_ORG=yanfeng
INFLUXDB_BUCKET=smp_timeseries
INFLUXDB_TOKEN=smp_influx_token
LABEL_STUDIO_PORT=8083
LABEL_STUDIO_HOST=http://localhost:8083
LABEL_STUDIO_CSRF_TRUSTED_ORIGINS=http://localhost:8083
LABEL_STUDIO_SECRET_KEY=smp_label_studio_local_secret_change_me
SMP_LABEL_STUDIO_ENABLED=true
SMP_LABEL_STUDIO_BASE_URL=http://label-studio:8080
SMP_LABEL_STUDIO_TOKEN_SECRET_REF=env:LABEL_STUDIO_API_TOKEN
SMP_LABEL_STUDIO_WORKSPACE_ID=TODO_CONFIRM_LABEL_STUDIO_WORKSPACE_POLICY
SMP_LABEL_STUDIO_STORAGE_POLICY=TODO_CONFIRM_LABEL_STUDIO_STORAGE_POLICY
SMP_LABEL_STUDIO_EXPORT_FORMAT=JSON
SMP_LABEL_STUDIO_TIMEOUT_MS=3000
LDAP_URL=TODO_CONFIRM_LDAP_URL
