POSTGRES_DB=TODO_CONFIRM_POSTGRES_DB
POSTGRES_USER=TODO_CONFIRM_POSTGRES_USER
POSTGRES_PASSWORD=TODO_CONFIRM_POSTGRES_PASSWORD
MINIO_ROOT_USER=TODO_CONFIRM_MINIO_USER
MINIO_ROOT_PASSWORD=TODO_CONFIRM_MINIO_PASSWORD
LDAP_URL=TODO_CONFIRM_LDAP_URL
